@charset "utf-8";

/* 웹폰트 */
@font-face {
  font-family: 'BRBA_B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'BRBA_B', sans-serif;
}

a{
  text-decoration: none;
  color: #333333;
}

input[type='checkbox']{display: none;}
.sns_lnb ul{
  display: flex;
}