@charset "utf-8";

@media screen and (min-width:769px) {
	/* pc화면 필요 없는 요소 */
	header .h_inner .h_m_lnb,
	.mgnb,
	.m_gnb,
	.m_slide{
		display: none;
	}

	/* 스크롤바 방지 */
	body{
		width: 100%;
		overflow-x: hidden;
	}

	/* 헤더 */
	header{
		width: 100%;
		height: 115px;
		z-index: 10;
		position: fixed;
		background-color: #e2e2e2;
	}
	header .h_inner{
		width: 1280px;
		position: relative;
		margin: 0px auto;
		height: 145px;
	}
	header .h_inner>h1{
		position: absolute;
		width: 150px;
		padding-top: 2%;
		left: 50.2%;
		transform: translateX(-50%);
	}
	header .h_inner h1 a{
	}
	header .h_inner h1 img{
		width: 100%;
	}

	/* sns 네비 */
	header .h_inner .sns_lnb{
		position: absolute;
		left: 0%;
		top: 12%;
	}
	header .h_inner .sns_lnb ul{}
	header .h_inner .sns_lnb ul li{
		width: 35px;
		height: 35px;
		margin-right: 10px;
	}
	header .h_inner .sns_lnb ul li img{
		width: 100%;
	}

	/* 오른쪽 네베 */
	header .h_inner .h_right_lnb{
		position: absolute;
		right: 0%;
		top: 12%;
	}
	header .h_inner .h_right_lnb ul{
		display: flex;
	}
	header .h_inner .h_right_lnb ul li{
		display: flex;
		text-align: center;
		align-items: center;
		margin-left: 10px;
	}
	header .h_inner .h_right_lnb ul li i.fas{
		font-size: 33px;
	}
	header .h_inner .h_right_lnb ul #sh::placeholder{
		font-size: 12px;
		opacity: 0;
		transition: .5s;
	}
	header .h_inner .h_right_lnb ul li:first-child input{
		width: 35px;
		height: 35px;
		position: absolute;
		right: 84px;
		border-radius: 5px;
		outline: none;
		box-sizing: border-box;
		border: 1px solid #ccc;
		opacity: 0;
		transition: .3s;
	}
	header .h_inner .h_right_lnb ul #sh:focus{
		opacity: 1;
		width: 180px;
	}
	header .h_inner .h_right_lnb ul #sh:focus::placeholder{
		opacity: 1;
	}
	header .h_inner .h_right_lnb ul li:first-child label{z-index: 1;}
	header .h_inner .h_right_lnb ul li:first-child img{
		width: 33px;
		margin: 3px 0px 0px 5px;
	}

	/* gnb */
	header .h_inner .pc_gnb {
		position: fixed;
		top: 85px;
		width: 100%;
		height: 30px;
		overflow: hidden;
		left: 0;
		display: flex;
		justify-content: center;
		background-color: #fff;
		transition: .3s;
	}
	header .h_inner .pc_gnb>ul{
		padding-top: 9px;
		display: flex;
		text-align: center;
	}
	header .h_inner .pc_gnb:hover{
		height: 250px;
	}
	header .h_inner .pc_gnb>ul>li{
		margin: 0px 100px 0px 0px;
	}
	header .h_inner .pc_gnb>ul>li>a{
		font-size: 16px;
	}
	header .h_inner .pc_gnb>ul>li>a::after{
		content: "";
		display: block;
		border-bottom: 1px solid #1c1c1e;
		padding-bottom: 1px;
		transform: scaleX(0);
		transition: .3s;
	}
	header .h_inner .pc_gnb>ul>li>a:hover::after{
		transform: scaleX(1);
	}
	header .h_inner .pc_gnb>ul>li>ul{
		padding-top: 20px;
		font-family: 'Noto Sans KR',sans-serif;
		font-weight: 500;
		font-size: 14px;
	}
	header .h_inner .pc_gnb>ul>li>ul>li{
		padding-bottom: 10px;
	}

	/* 메인 */
	main{
		padding-top: 115px;
	}

	/* 영상 */
	main .video_wrap{
		width: 1280px;
		height: 500px;
		margin: 0px auto;
		position: relative;
	}
	main .video_wrap iframe{
		width: 620px;
		height: 315px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	main .video_wrap h2{
		font-size: 24px;
		position: absolute;
		top: 30%;
		right: 20%;
		transform: translateY(-50%);
	}
	main .video_wrap p{
		width: 350px;
		font-size: 18px;
		position: absolute;
		right: 12%;
		transform: translateY(-50%);
	}
	main .video_wrap p:first-of-type{
		top: 40%;
	}
	main .video_wrap p:last-of-type{
		top: 60%;
	}

	아이스크림
	tab_menu .list li.on .cont{display: block;}

  .swiper-slide .ice_name,.event_name{
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 5px;
  }
  .swiper-slide .ice_tag{
    color: rgb(130, 130, 130);
    text-align: left;
    font-size: 0.8rem;
  }
  .menu_nav{
    margin-bottom: 10px;
  }
  .br_menu, .br_event, #insta{
    display: block;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 40px;
    position: relative;
  }
	.br_menu, .br_event{
		width: 1280px;
		margin: 0px auto;
	}
  .br_menu>h2, .br_event>h2{
    font-size: 24px;
    padding-bottom: 10px;
  }
  .br_menu img{
    background-color: #ccc;
    border-radius: 10%;
    background-image: url('../../01basic_data/main/text/bg_icecream_corn_3.png');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 48% 110%;
  }

  .more{
    position: absolute;
    top: -7px; right: 5%;
    font-size: 15px;
    padding: 7.5px 5px;
    color: #444;
  }

	/* 이벤트 */
	
	.br_event .swiper-slide>a>img:first-child{
		border-radius: 10%;
	}
	.br_event .swiper-slide>a>img:nth-child(2){
		width: 115px;
	}

	/* 인스타 */
	#insta{
		width: 100%;
		background-color: #ccc;
		padding: 50px 0px;
	}
	#insta>h2{
		font-size: 24px;
		margin-bottom: 3px;
	}
	#insta>a{
	}
	.swiper{
		width: 1280px !important;
		margin: 0px auto;
		padding-top: 10px;
		overflow: hidden;
	}
	#insta .swiper-wrapper{
		width: 100%;
	}
	#insta .swiper-wrapper .swiper-slide img{
		width: 100%;
		margin: 0px;
	}
	#insta .swiper-pagination{
		left: 50%;
		transform: translateX(-50%);
	}

	/* 딜리버리 */
	.card-wrap{
		display: flex;
		justify-content: center;
		padding: 100px;
	}

  .fs_wrap{
    display: block;
    width: 38%;
    height: 220px;
    position: relative;
    background-color: #6792ee;
    border-radius: 15px;
  }
  .fs_wrap .searchbar{
    position: absolute;
		width: 50%;
    top: 50px;
    right: 25px;
    display: block;
  }
  .fs_wrap img{
    position: absolute;
    width: 70px;
    top: 50%;
		transform: translateY(-50%);
    left: 7%;
  }
  .fs_wrap i.fa-search{
    position: absolute;
    right: 65px;
    top: 38px;
    background-color: #ffffff;
  }
  .fs_wrap input{
		width: 60%;
    height: 2rem;
    width: 135px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 0px;
    text-align: center;
    position: absolute;
		top: 30px;
    right: 60px;
  }
  .fs_wrap p{
    width: fit-content;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: 150px;
    right: 30px;
    color: white;
  }

	.d_wrap{
    position: relative;
    display: block;
    width: 38%;
    height: 220px;
    background-color: #6792ee;
    border-radius: 15px;
		margin-left: 5%;
  }
  .d_wrap .btnbox{
    position: relative;
    width: 100%;
		height: 100%;
  }
  .d_wrap input{
    position: absolute;
    width: 30%;
    height: 2rem;
    right: 20px;
		top: 80px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px;
  }
  .d_wrap i.fa-address-book{
    position: absolute;
		width: fit-content;
    right: 28px;
    font-size: 1.3rem;
    top: 87px;
    color: #F05097;
  }
  .d_wrap>.btnbox>	a:nth-child(2){
		position: absolute;
		left: 30px;
		top: 50%;
		transform: translateY(-50%);
		width: 180px;
		padding: 0px;
	}
	.d_wrap a img{
		width: 100%;
	}
  .d_wrap p{
    width: fit-content;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 130px;
    right: 50px;
    color: white;
  }

	/* 탑버튼 */
	.top_btn{
    position: fixed;
		font-size: 15px;
		padding: 5px 5px;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 37px;
    text-align: center;
    bottom: 5%;
    right: 5%;
    z-index: 9999;
  }
	.top_btn a{
		color: #fff;
	}

	  /* 푸터 */
		footer{
			width: 100%; height: 200px;
			background-color: #d9d9d9;
		}
		footer .f_inner{
			display: block;
			width: 80%;
			position: relative;
		}
		footer  .f_lnb{
			width: 80%;
			margin: 0px auto;
		}
		footer .f_lnb ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			margin:0px auto;
			padding-top: 20px;
		}
		footer .f_lnb ul li{
			position: relative;
			font-size: 12px;
		}
		footer .f_lnb ul li::after{
			content: '';
			width: 2px;
			height: 10px;
			background-color: #333;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		footer .f_lnb ul li:first-child a{
			font-size: 1rem;
			color: #F05097;
		}
		footer .f_lnb ul li:first-child::after{
			display: none;
		}
		footer .f_lnb ul li a{
			padding: 5px 5px;
			display: block;
			font-size: 14px;
		}
		footer address{
			width: 80%;
			font-style: normal;
			font-size: 12px;
			margin: 50px auto 10px auto;
			text-align: center;
		}
		footer p{
			font-size: 12px;
			width: 100%;
			text-align: center;
			color: rgb(137, 137, 137);
		}
	
		footer #f_family{
			display: block;
			width: 120px;
			height: 30px;
			border-radius: 5px;
			margin: 5px auto 0px auto;
			background-color: #6792ee;
			color: #fff;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}
		footer #f_family option{
			zoom: 1.2;
		}
}
